.blue {
  color: #21dadb;
}
.bk-primary {
  /* background-color: #4d94e6; */
  background: linear-gradient(135deg, #8ab8f0, #4d94e6, #2568b3);

}

.txt-primary {
  color: #35bbdf;
}
.white-bk {
  background-color: #ffffff;
}
.white{
    color: #ffffff;
}
.body {
  background-color: #f0f0f0;
  color: #090D0E;
}
.black, a{
    color: #090D0E;
}
