main {
  padding-top: 50px;
}

.main-container {
  text-align: center;
  padding: 50px 20px;
  border-radius: 5px;
  margin: 5px;
}

.main-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.main-container p {
  font-size: 1.3em;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.image-gallery {
  gap: 20px;
  padding-top: 20px;
}

.image-box {
  width: 180px;
  height: 220px;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.image-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.expertise-section {
  max-width: 1200px;
  gap: 20px;
  padding: 20px;
}
.expertise-card {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 20%;
  max-height: 400px;
  min-height: 250px;
  min-width: 200px;
  transition: transform 0.3s ease;
}
.expertise-card:hover {
  transform: translateY(-10px);
}
.expertise-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.expertise-description {
  font-size: 0.95rem;
}

.container {
  max-width: 1200px;
  padding: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.deliver {
  gap: 20px;
}

.delivrables {
  position: relative;
  flex: 1 1 45%;
  min-width: 200px;
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
  clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.delivrables:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.delivrables h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.delivrables p {
  font-size: 1.2em;
}

.partner-container {
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 125px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}
.partner-container > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.partner-container > p {
  margin-bottom: 10px;
  font-size: 1.1em;
}
.partner {
  max-width: 1150px;
}
.partner > p {
  font-size: 1.3em;
}
.partner-container:hover {
  transform: scale(1.05);
  background-color: #21dadb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  line-height: 30px;
  border-top: #21dadb 5px solid;
  margin-top: 20px;
}
.social-links {
  gap: 80px;
}
.social-links div:hover {
  transform: scale(1.3);
}

.social-links img {
  width: 30px;
  height: 30px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .main-container h1 {
    font-size: 1.8em;
  }

  .image-gallery {
    gap: 10px;
  }

  .image-box {
    width: 45%;
    max-width: 220px;
  }
  .delivery-box {
    flex: 1 1 100%;
  }
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
  
}
.logo img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}


}

@media (max-width: 480px) {
  .main-container h1 {
    font-size: 1.5em;
  }

  .main-container p {
    font-size: 1em;
  }
  .header h1 {
    font-size: 1.8em;
  }
  
    nav ul li a {
      text-decoration: none;
      font-weight: bold;
      font-size: 0.2em;
    
  }
}
